@import 'tailwindcss';
@import '@splidejs/react-splide/css';

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 96px;
}

:root {
  --surface-primary: #020617;
  --surface-secundary: #010514;
  --color-primary: #53eafd;
  --color-secundary: #61107c;
  --color-border: #272a39;
  --text-primary: #ffffff;
  --text-secundary: #b3bdd2;
  --surface-input: #191c2d;
}

:root[data-theme='light'] {
  --surface-primary: #ffffff;
  --surface-secundary: #0105147a;
  --color-primary: #53eafd;
  --color-secundary: #61107c;
  --color-border: #272a39;
  --text-primary: #000000;
  --text-secundary: #4a4e58;
  --surface-input: #969eca;
}

body {
  color: var(--text-primary);
  background-color: var(--surface-primary);
}

.box {
  padding: 0 3%;
  padding-top: 72px;
  overflow: hidden;
}

section {
  scroll-margin-top: 96px;
  padding-block: 12px;
}

section.no-section-spacing {
  padding-block: 0;
}

section:not(.no-section-margin) + section:not(.no-section-margin) {
  margin-top: 96px;
}

button {
  transition: transform 150ms ease-in-out;
}

button:hover {
  scale: 1.03;
}

button:active {
  transform: scale(0.9);
}
