@import "tailwindcss";

:root {
  --surface-primary: #020617;
  --surface-secundary: #010514;
  --color-primary: #53eafd;
  --color-secundary: #61107c;
  --color-border: #272a39;
  --text-primary: #ffffff;
  --text-secundary: #b3bdd2;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--surface-primary);
  padding: 0 44px;
  padding-top: 72px;
  color: #ffffff;
}

button {
  transition: transform 150ms ease-in-out;
}

button:hover {
  scale: 1.03;
}

button:active {
  transform: scale(0.9);
}
