@import 'tailwindcss';

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 96px;
}

body.dark-mode,
html.dark-mode body {
  --surface-primary: #020617;
  --surface-secundary: #010514;
  --color-primary: #53eafd;
  --color-secundary: #61107c;
  --color-border: #272a39;
  --text-primary: #ffffff;
  --text-secundary: #b3bdd2;
}

body.light-mode,
html.light-mode body {
  --surface-primary: #ffffff;
  --surface-secundary: #0105147a;
  --color-primary: #53eafd;
  --color-secundary: #61107c;
  --color-border: #272a39;
  --text-primary: #000000;
  --text-secundary: #4a4e58;
}

body {
  color: var(--text-primary);
  background-color: var(--surface-primary);
  padding: 0 46px;
  padding-top: 72px;
}

section {
  scroll-margin-top: 96px;
}

button {
  transition: transform 150ms ease-in-out;
}

button:hover {
  scale: 1.03;
}

button:active {
  transform: scale(0.9);
}

@media (width <= 768px) {
  body {
    padding: 0 18px;
    padding-top: 72px;
  }
}
