@import 'tailwindcss';
@import '@splidejs/react-splide/css';

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 96px;
}

:root {
  --surface-primary: #020617;
  --surface-secundary: #010514;
  --color-primary: #53eafd;
  --color-secundary: #61107c;
  --color-border: #272a39;
  --text-primary: #ffffff;
  --text-secundary: #b3bdd2;
  --surface-input: #191c2d;
}

:root[data-theme='light'] {
  --surface-primary: #f0fbff;
  --surface-secundary: #d5e6eedf;
  --color-primary: #2bbacd;
  --color-secundary: #61107c;
  --color-border: #afb2bd;
  --text-primary: #000000;
  --text-secundary: #292a30;
  --surface-input: #e7eaff;
}

.container-custom {
  @apply mx-auto max-w-[90rem];
}

body {
  color: var(--text-primary);
  background-color: var(--surface-primary);
  overflow-x: hidden;
}

.box {
  padding: 0 3%;
  overflow: hidden;
}

section {
  scroll-margin-top: 96px;
  padding-block: 12px;
}

section.no-section-spacing {
  padding-block: 0;
}

/* Screen-reader only text */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

/* section:not(.no-section-margin)+section:not(.no-section-margin) {
  margin-top: 96px;
} */

button {
  transition: transform 150ms ease-in-out;
}

button:hover {
  scale: 1.03;
}

button:active {
  transform: scale(0.9);
}
