---
import { Sparkles } from 'lucide-react'

interface Props {
  className?: string
}

const { className = '' } = Astro.props
---

<span
  class:list={[
    'inline-flex items-center gap-2 text-sm uppercase text-(--color-primary)',
    className,
  ]}
>
  <Sparkles className="w-4 h-4" />
  <slot />
</span>
