<footer id="footer">
  <main class="pt-24 pb-12">
    <h2 class="text-5xl xl:text-6xl font-bold mb-4">Footer</h2>
    <p class="mb-4 text-(--text-secundary) max-w-2xl">
      Texto dummy temporal para visualizar el scroll. Aqui ira el contenido del footer, links y
      datos legales.
    </p>
    <p class="text-(--text-secundary) max-w-2xl">
      Relleno adicional para mantener altura mientras armamos el footer real.
    </p>
  </main>
</footer>
