---
import { getRelativeLocaleUrl } from 'astro:i18n'
import iconES from '../assets/es.svg'
import iconEN from '../assets/en.svg'
import { getLangFromUrl, useTranslations } from '../i18n/utils/config'

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)
const navbar = t('navbar')
---

<nav
  class="w-40 rounded-2xl bg-(--surface-secundary)/90 backdrop-blur-md px-4 py-4 border border-(--color-border) shadow-lg flex flex-col gap-2"
>
  <!-- Español -->
  <a
    href={getRelativeLocaleUrl('es')}
    class={`flex items-center gap-2 px-4 py-2 rounded-xl transition
      ${lang === 'es' ? 'bg-white/5' : 'opacity-70 hover:opacity-100'}`}
  >
    <img
      src={iconES.src}
      alt="icon español"
      class={`w-8 h-8 rounded-full transition
        ${lang === 'es' ? '' : 'grayscale'}`}
    />
    <span class="text-(--text-primary) text-sm">{navbar.translate.es}</span>
  </a>

  <!-- Inglés -->
  <a
    href={getRelativeLocaleUrl('en')}
    class={`flex items-center gap-2 px-4 py-2 rounded-xl transition
      ${lang === 'en' ? 'bg-white/5' : 'opacity-70 hover:opacity-100'}`}
  >
    <img
      src={iconEN.src}
      alt="icon inglés"
      class={`w-8 h-8 rounded-full transition
        ${lang === 'en' ? '' : 'grayscale'}`}
    />
    <span class="text-(--text-primary) text-sm">{navbar.translate.en}</span>
  </a>
</nav>
