<section
  class="relative w-screen left-1/2 -translate-x-1/2 h-45 md:h-66 [@media(min-width:1150px)]:h-90 [@media(min-width:1440px)]:h-125 [@media(min-width:2000px)]:h-170 no-section-margin no-section-spacing overflow-hidden"
>
  <img
    src="/decoration1.svg"
    alt=""
    class="absolute left-0 w-full h-[100%] top-1/2 -translate-y-1/2 md:inset-0 md:object-cover md:object-center md:translate-y-0"
    loading="lazy"
  />
</section>
