<div
  aria-hidden="true"
  class="flex items-center h-[30vw] absolute bottom-0 left-0 transform translate-y-4/6 w-full overflow-x-clip md:overflow-hidden pointer-events-none"
>
  <svg
    aria-hidden="true"
    width="1920"
    height="1080"
    viewBox="0 0 1440 667"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
    class="absolute bottom-0 right-[-35px] w-[1000px] h-fit translate-y-[45%] sm:translate-y-[40%] md:static md:w-full md:h-auto md:translate-y-0"
    ><path
      d="M1361.34 410v-20.801h3.05V410zm0 0v-2.783h13.77V410zm0-9.024v-2.783h11.14v2.783zm0-8.994v-2.783h13.77v2.783zm1.7 46.397.27-2.901c1.5 0 2.8-.312 3.89-.937a8 8 0 0 0 2.7-2.549c.71-1.074 1.24-2.28 1.58-3.618.35-1.348.53-2.739.53-4.175h3.01c0 1.846-.26 3.618-.8 5.317q-.81 2.55-2.34 4.556a11.3 11.3 0 0 1-3.77 3.15q-2.22 1.157-5.07 1.157M1361.2 445v-20.801h3.04V445zm11.28 0-5.28-10.137 2.64-1.494 6.18 11.631zm-4.69 35.293q-7.68 0-7.68-10.547 0-10.84 7.68-10.84c5.12 0 7.67 3.613 7.67 10.84 0 7.031-2.55 10.547-7.67 10.547m0-2.695c3.03 0 4.54-2.618 4.54-7.852 0-5.43-1.51-8.145-4.54-8.145s-4.54 2.715-4.54 8.145c0 5.234 1.51 7.852 4.54 7.852m-.06 37.695c-4.45 0-6.68-2.324-6.68-6.973v-14.121h3.05v14.121c0 1.387.3 2.432.89 3.135.6.703 1.53 1.055 2.8 1.055q3.69 0 3.69-4.19v-14.121h3.05v14.121c0 2.324-.58 4.068-1.73 5.23q-1.725 1.743-5.07 1.743"
      fill="#0d679a"></path><g filter="url(#a)"
      ><ellipse
        cx="390.04"
        cy="245.687"
        rx="126.013"
        ry="2.401"
        transform="rotate(3.773 390.04 245.687)"
        fill="#000"
        fill-opacity=".5"></ellipse></g
    ><path
      opacity=".5"
      d="M1357 329.5 0 284.302l245.192-46.485 1126.308 79.38-3.5 69.303z"
      fill="url(#b)"
      fill-opacity=".55"></path><path
      opacity=".4"
      d="M1464.11 140.026 244.5 237.5l262.5 19 966.44-96.197 50.72-16.877z"
      fill="url(#c)"
      fill-opacity=".45"></path><path
      opacity=".6"
      d="M1236.81 285v-69.336h10.16V285zm0 0v-9.277h45.9V285zm0-30.078v-9.278h37.11v9.278zm0-29.981v-9.277h45.9v9.277zm64.26 37.989.88-9.668q7.515 0 12.99-3.125a26.7 26.7 0 0 0 8.98-8.496c2.38-3.581 4.14-7.601 5.27-12.061 1.18-4.492 1.76-9.131 1.76-13.916h10.06c0 6.152-.89 12.06-2.68 17.725-1.79 5.664-4.4 10.725-7.82 15.185a37.45 37.45 0 0 1-12.55 10.498c-4.94 2.572-10.58 3.858-16.89 3.858m-6.15 22.07v-69.336h10.15V285zm37.6 0-17.58-33.789 8.79-4.981 20.6 38.77zm42.96.976c-17.05 0-25.58-11.718-25.58-35.156 0-24.088 8.53-36.133 25.58-36.133q25.59 0 25.59 36.133 0 35.156-25.59 35.156m0-8.984c10.1 0 15.14-8.724 15.14-26.172 0-18.099-5.04-27.148-15.14-27.148-10.09 0-15.13 9.049-15.13 27.148 0 17.448 5.04 26.172 15.13 26.172m58.4 8.984q-22.26 0-22.26-23.242v-47.07h10.15v47.07c0 4.623 1 8.106 2.98 10.449q2.985 3.516 9.33 3.516 12.3 0 12.3-13.965v-47.07h10.16v47.07q0 11.622-5.76 17.432c-3.84 3.874-9.48 5.81-16.9 5.81"
      fill="#0d679a"
      fill-opacity=".06"></path><defs
      ><linearGradient
        id="b"
        x1="1376.97"
        y1="357.91"
        x2="50.021"
        y2="287.32"
        gradientUnits="userSpaceOnUse"
        ><stop stop-color="#61107c"></stop><stop offset=".417" stop-color="#2dcbd3"></stop><stop
          offset="1"
          stop-color="#002475"></stop></linearGradient
      ><linearGradient
        id="c"
        x1="1519.62"
        y1="152.607"
        x2="393.746"
        y2="513.111"
        gradientUnits="userSpaceOnUse"
        ><stop stop-color="#61107c"></stop><stop offset=".417" stop-color="#2dcbd3"></stop><stop
          offset="1"
          stop-color="#002475"></stop></linearGradient
      ><filter
        id="a"
        x="244.299"
        y="217.054"
        width="291.481"
        height="57.266"
        filterUnits="userSpaceOnUse"
        color-interpolation-filters="sRGB"
        ><feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood><feBlend
          in="SourceGraphic"
          in2="BackgroundImageFix"
          result="shape"></feBlend><feGaussianBlur
          stdDeviation="10"
          result="effect1_foregroundBlur_678_36"></feGaussianBlur></filter
      ></defs
    ></svg
  >
</div>
