<section class="absolute left-0 h-100 w-full overflow-hidden -mt-30 md:-mt-10">
  <img
    src="/decoration1.svg"
    alt=""
    class="absolute h-full w-full object-contain md:object-cover"
    loading="lazy"
  />
</section>
