---
import clsx from 'clsx'
import ekouLogo from '../assets/icons/ekou.svg'

interface Props {
  variant: 'left' | 'right'
  title: string
  description: string
  icon: any
  iconAriaLabel?: string
  iconClassName?: string
  className?: string
  glowVariant?: 'default' | 'service' | 'pro'
}

const {
  variant,
  title,
  description,
  icon: Icon,
  iconAriaLabel = '',
  iconClassName,
  className,
  glowVariant = 'default',
} = Astro.props

// Define las clases específicas de cada ícono según la variante
const getIconClasses = () => {
  if (glowVariant === 'service') {
    return 'mx-auto mt-2 mb-4 h-18 w-18 text-(--text-primary)'
  }
  if (glowVariant === 'pro') {
    return 'mx-auto rotate-6 mt-2 h-24 w-24 text-(--text-primary)'
  }
  return 'mx-auto mb-2 mt-2 h-24 rotate-4 w-24 text-(--text-primary)'
}
---

<div
  class={clsx(
    'whoweare-card relative mx-auto w-[88%] max-w-[320px] sm:max-w-[340px] md:w-full md:max-w-[380px] overflow-hidden rounded-[30px] border-2 border-(--color-border) bg-(--surface-card) px-4 pt-2 pb-4 text-center transition-transform duration-500 scale-85 md:translate-x-0 md:scale-100',
    {
      '-rotate-6 -translate-x-12': variant === 'left',
      'rotate-3 translate-x-12': variant === 'right',
      'whoweare-card--service': glowVariant === 'service',
      'whoweare-card--pro': glowVariant === 'pro',
    },
    className
  )}
>
  <img
    src={ekouLogo.src}
    alt=""
    class="absolute whoweare-img right-0 bottom-0 h-32 w-auto translate-y-2 opacity-[0.02] md:-right-4 md:bottom-0 md:h-44 md:translate-y-3 object-contain pointer-events-none select-none z-0"
    aria-hidden="true"
  />
  <div class="relative z-10">
    <figure aria-label={iconAriaLabel} role="img">
      <Icon className={clsx(getIconClasses(), iconClassName)} />
    </figure>

    <h3 class="text-xl font-semibold text-(--text-primary)">{title}</h3>
    <p class="mt-2 text-md text-(--text-secundary)">
      {description}
    </p>
  </div>
</div>

<style>
  .whoweare-card {
    --card-glow: var(--card-glow-2);
    --card-glow-transparent: var(--surface-card);
    --card-glow-pos: 90% 27%;
    box-shadow: -18px 18px 50px var(--card-glow);
    z-index: 0;
  }

  .whoweare-img {
    opacity: var(--opacity-img);
  }

  .whoweare-card::before {
    content: '';
    position: absolute;
    inset: 0;
    border-radius: inherit;
    background: radial-gradient(
      140% 120% at var(--card-glow-pos),
      var(--card-glow),
      var(--card-glow-transparent) 80%
    );
    background-color: var(--surface-card);
    pointer-events: none;
    z-index: 0;
  }

  .whoweare-card--service {
    --card-glow: var(--card-glow-1);
    --card-glow-pos: 80% 0%;
  }

  .whoweare-card--pro {
    --card-glow-pos: 90% 20%;
  }
</style>
